<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Administer events in ticketsell</title>
	<link rel="stylesheet" th:href="@{/css/header_footer.css}">
	<link rel="stylesheet" th:href="@{/css/logged_admin.css}">
	<link rel="stylesheet" th:href="@{/css/view1.css}">
</head>
<body>
<h1 id="page_title">ADMINISTER USERS IN TICKETSELL</h1><br>

<div class="search"><H2>Search event by id</H2>
	<form th:action="@{/pagina-search-evento}" method="post">
		<label>event id:</label>
		<input type="text" th:value="${id}" name="id">
		<input type="submit" value="Search" />
	</form>
</div>
<div>
	<a class="links" href="pagina-todos-eventos">View all events</a>

	<a class="links" href="pagina-crear-evento">Create an event</a>

	<a class="links" href="pagina-borrar-evento">Delete an event</a>

	<a class="links" href="pagina-actualizar-evento">Update an event</a>
</div>
</body>
</html>	