<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Administer ticketsell</title>
	<link rel="stylesheet" th:href="@{/css/header_footer.css}">
	<link rel="stylesheet" th:href="@{/css/logged_admin.css}">
</head>
<body>
<h1 id="page_title">ADMINISTER TICKETSELL</h1><br>

	<div>
		<a class="links" href="/u">Manage users</a>
	</div>
	<div>
		<a class="links" href="/e">Manage Events</a>
	</div>
	<div>
		<a class="links" href="/t">Manage Tickets</a>
	</div>


</body>
</html>	