<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View user</title>
    <link rel="stylesheet" th:href="@{/css/header_footer.css}">
    <link rel="stylesheet" th:href="@{/css/logged_admin.css}">
    <link rel="stylesheet" th:href="@{/css/view1.css}">
  </head>
<body>

    
  <h1 id="page_title">Information about the user:</h1>
  <div class="tables">
      <!--User id:<span th:text="${id}">Default id</span>-->
      Name:<span th:text="${usuario.name}">Default name</span>
      Surname: <span th:text="${usuario.surname}">Default surname</span>
      Address: <span th:text="${usuario.address}">Default address</span>
      Alias: <span th:text="${usuario.alias}">Default alias</span>
      Phone: <span th:text="${usuario.phone}">Default phone</span>
      Email: <span th:text="${usuario.email}">Default email</span>
  </div>
  <!--
  <div class="table_tick">
    <h2>Tickets in sale</h2>
    <table>
      <tr th:each="tickets : ${usuario.tickets}">
        <td>Ticket id:<span th:text="${ticket.id}">Default id</span></td>
        <td>Ticket code:<span th:text="${ticket.ticketCode}">Default ticketCode</span></td>
        <td>Ticket category:<span th:text="${ticket.country}">Default country</span></td>
        <td>Ticket price:<span th:text="${ticket.price}">Default price</span></td>
        <td>Ticket user id:<span th:text="${ticket.userID}">Default user id</span></td>
        <td>Ticket username:<span th:text="${ticket.username}">Default username</span></td>
        <td>Ticket event:<span th:text="${ticket.event}">Default event</span></td>
      </tr>
    </table>
  </div>
  -->

</body>
</html>


