<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View event</title>
    <link rel="stylesheet" th:href="@{/css/header_footer.css}">
    <link rel="stylesheet" th:href="@{/css/logged_admin.css}">
    <link rel="stylesheet" th:href="@{/css/view1.css}">
    </head>
<body>

  <h1 id="page_title">Information about the event:</h1>
  <div class="tables">
      Event name:<span th:text="${event.name}">Default eventName</span>
      Event venue:<span th:text="${event.venue}">Default venue</span>
      Event city:<span th:text="${event.city}">Default city</span><br>
      Event country:<span th:text="${event.country}">Default country</span>
      Event date:<span th:text="${event.date}">Default date</span>
      Event image:<span th:text="${event.image}">Default image</span>
      <span> <img id="image" th:src="@{'data:image/png;base64,'+${event.getDecode64()}}"></span>
      Event category:<span th:text="${event.category}">Default category</span>

  </div>


<<!--
  <div class="table_tick"> 
    <h1 id="page_title">Tickets in sale</h1>
    <table>
      <tr th:each="tickets : ${event.tickets}">
        <td>Ticket id:<span th:text="${ticket.id}">Default id</span></td>
        <td>Ticket code:<span th:text="${ticket.ticketCode}">Default ticketCode</span></td>
        <td>Ticket category:<span th:text="${ticket.country}">Default country</span></td>
        <td>Ticket price:<span th:text="${ticket.price}">Default price</span></td>
        <td>Ticket user id:<span th:text="${ticket.userID}">Default user id</span></td>
        <td>Ticket username:<span th:text="${ticket.username}">Default username</span></td>
        <td>Ticket event:<span th:text="${ticket.event}">Default event</span></td>
      </tr>
    </table>
  </div>-->
</body>
</html>


