<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Create a new user</title>
	<link rel="stylesheet" th:href="@{/css/header_footer.css}">
	<link rel="stylesheet" th:href="@{/css/logged_admin.css}">
</head>
<body>
	<div class="create_ev"><H2>Create event</H2>
		<form th:action="@{/pagina-post-evento}" th:object="${evento}" method="post">
			<label >event name:</label>
			<input type="text" th:field="*{name}">
			<label >event venue:</label>
			<input type="text" th:field="*{venue}">
			<label >event city:</label>
			<input type="text" th:field="*{city}">
			<label id="ev">event country:</label>
			<input type="text" th:field="*{country}">
			<label >event date:</label>
			<input type="date" th:field="*{date}">
			<label >event image:</label>
			<input type="file" th:field="*{image}">
			<label >event category:</label>
			<input type="text" th:field="*{category}">

			<input type="submit" value="Create" />
		</form>
	</div>


</body>
</html>