<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View all users</title>
  <link rel="stylesheet" th:href="@{/css/header_footer.css}">
  <link rel="stylesheet" th:href="@{/css/logged_admin.css}">
  <link rel="stylesheet" th:href="@{/css/view1.css}">
  </head>
<body>
    
  <h1 id="page_title">All users:</h1>
  <div class="all_tables">
  <table>
      <tr>
          <th>User name</th>
          <th>User surname</th>
          <th>Address</th>
          <th>Alias</th>
          <th>Phone</th>
          <th>Email</th>
      </tr>
    <tr th:each="usuario : ${userList}">
        <td th:text="${usuario.name}">default name></td>
        <td th:text="${usuario.surname}">default surname></td>
        <td  th:text="${usuario.address}">Default address></td>
        <td th:text="${usuario.alias}">Default alias></td>
        <td  th:text="${usuario.phone}">Default phone></td>
        <td  th:text="${usuario.email}">Default email></td>

    </tr>
    </table>
  
  </div>
</body>
</html>


