<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View all users</title>
  <link rel="stylesheet" th:href="@{/css/header_footer.css}">
  <link rel="stylesheet" th:href="@{/css/logged_admin.css}">
  <link rel="stylesheet" th:href="@{/css/view1.css}">
  </head>
<body>

  <h1 id="page_title">All events:</h1>
  <div class="all_tables">
  <table>
    <tr>
      <th>Ticket id</th>
      <th>Ticket code</th>
      <th>Price</th>
      <th>User</th>
      <th>Event</th>
      
    </tr>
    <tr th:each="ticket : ${ticketList}">
      <td th:text="${ticket.id}">Default id</td>
      <td th:text="${ticket.ticketCode}">Default ticketCode</td>
      <td th:text="${ticket.price}">Default price</td>
      <td th:text="${ticket.userID}">Default user id</td>
      <td th:text="${ticket.event}">Default event</td>
	    
    </tr></table>
  </div>
</body>
</html>


