<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View all tickets</title>
    <link rel="stylesheet" th:href="@{/css/header_footer.css}">
    <link rel="stylesheet" th:href="@{/css/logged_admin.css}">
    <link rel="stylesheet" th:href="@{/css/view1.css}">
    </head>
<body>

    <h1 id="page_title">Information about the ticket:</h1>
    <div class="tables">
        Ticket code:<span th:text="${ticket.code}">Default code</span>
        Price:<span th:text="${ticket.price}">Default price</span>
        User email:<span th:text="${ticket.useremail}">Default user email</span>
        Event name:<span th:text="${ticket.eventname}">Default eventname</span>
        Category:<span th:text="${ticket.category}">Default category</span>

    </div>

</body>
</html>


