<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Delete user</title>
	<link rel="stylesheet" th:href="@{/css/header_footer.css}">
	<link rel="stylesheet" th:href="@{/css/logged_admin.css}">
</head>
<body>

<div class="delete"><H2>Delete ticket</H2>
	<form th:action="@{/pagina-delete-ticket}" method="post">
		<label>ticket id: </label>
		<input type="text" th:value="${ticket_id}" name="ticket_id">
		<input type="submit" value="Delete">
	</form>
</div>

</body>
</html>

