<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View all tickets</title>
    <link rel="stylesheet" th:href="@{/css/header_footer.css}">
    <link rel="stylesheet" th:href="@{/css/logged_admin.css}">
    <link rel="stylesheet" th:href="@{/css/view1.css}">
    </head>
<body>

    <h1 id="page_title">Information about the ticket:</h1>
    <div class="ttables">     
      Ticket id:<span th:text="${ticket.id}">Default id</span>  <!-- it is possible that the id has to be commented -->
      Ticket code:<span th:text="${ticket.ticketCode}">Default ticketCode</span>
      Ticket category:<span th:text="${ticket.country}">Default country</span>
      Ticket price:<span th:text="${ticket.price}">Default price</span>
      Ticket user id:<span th:text="${ticket.userID}">Default user id</span>
      Ticket username:<span th:text="${ticket.username}">Default username</span>
      Ticket event:<span th:text="${ticket.event}">Default event</span>
      
    </div>

</body>
</html>


