<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Create a new user</title>
	<link rel="stylesheet" th:href="@{/css/header_footer.css}">
	<link rel="stylesheet" th:href="@{/css/logged_admin.css}">
</head>
<div id="create" class="create_us">
	<H2>Create user</H2>
	<form th:action="@{/pagina-post-usuario}" th:object="${usuario}" method="post">
		<label >User name:</label>
		<input type="text" th:field="*{name}">
		<label >User surname:</label>
		<input type="text" th:field="*{surname}">
		<label >Address:</label>
		<input type="text" th:field="*{address}">
		<label >Alias:</label>
		<input type="text" th:field="*{alias}">
		<label id="us" >Phone:</label>
		<input type="text" th:field="*{phone}">
		<label >Email:</label>
		<input type="text" th:field="*{email}">
		<label >Password:</label>
		<input type="text" th:field="*{password}">

		<input type="submit" value="Create" />
	</form>
</div>
</body>
</html>