<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <link rel="stylesheet" th:href="@{/css/header_footer.css}">
    <link rel="stylesheet" th:href="@{/css/logged_admin.css}">
    <link rel="stylesheet" th:href="@{/css/view1.css}">
</head>
<body>

<div class="search"><H2>Search the ticket to update</H2>
    <form th:action="@{/pagina-search-upd-ticket}" method="post">
        <label>ticket id:</label>
        <input type="text" th:value="${ticket_id}" name="ticket_id">
        <input type="submit" value="Search" />
    </form>
</div>

<div class="update_tick"><H2>Update ticket</H2>
    <form th:action="@{/pagina-update-ticket}" th:object="${ticket}" method="post">
        <label >ticket id of the ticket to update: </label>
        <input type="text" th:field="*{ticket_id}">
        <label >ticket code:</label>
        <input type="text" th:field="*{code}">
        <label >ticket price:</label>
        <input type="text" th:field="*{price}">
        <label >ticket type:</label>
        <input type="text" th:field="*{type}">
        <label id="ut">owner userID:</label>
        <input type="text" th:field="*{userid}">
        <label >event id:</label>
        <input type="text" th:field="*{eventid}">

        <input type="submit" value="Update" />
    </form>

</div>
</body>
</html>
